<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="DismissModal()">
        <ion-icon slot="icon-only" color="danger" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="mainDiv">
    <ion-list>
      <ion-list-header>
        <ion-thumbnail *ngIf="ResultResponseData.image==''">
          <img alt="No image" src="../assets/images/no-image-available.png" />
          <svg *ngIf="ResultResponseData.identify==2" class="verification-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="#2dd36f" viewBox="0 0 20 20">
            <path fill="#2dd36f" d="m18.774 8.245-.892-.893a1.5 1.5 0 0 1-.437-1.052V5.036a2.484 2.484 0 0 0-2.48-2.48H13.7a1.5 1.5 0 0 1-1.052-.438l-.893-.892a2.484 2.484 0 0 0-3.51 0l-.893.892a1.5 1.5 0 0 1-1.052.437H5.036a2.484 2.484 0 0 0-2.48 2.481V6.3a1.5 1.5 0 0 1-.438 1.052l-.892.893a2.484 2.484 0 0 0 0 3.51l.892.893a1.5 1.5 0 0 1 .437 1.052v1.264a2.484 2.484 0 0 0 2.481 2.481H6.3a1.5 1.5 0 0 1 1.052.437l.893.892a2.484 2.484 0 0 0 3.51 0l.893-.892a1.5 1.5 0 0 1 1.052-.437h1.264a2.484 2.484 0 0 0 2.481-2.48V13.7a1.5 1.5 0 0 1 .437-1.052l.892-.893a2.484 2.484 0 0 0 0-3.51Z"/>
            <path fill="#fff" d="M8 13a1 1 0 0 1-.707-.293l-2-2a1 1 0 1 1 1.414-1.414l1.42 1.42 5.318-3.545a1 1 0 0 1 1.11 1.664l-6 4A1 1 0 0 1 8 13Z"/>
          </svg>
        </ion-thumbnail>
        <ion-thumbnail *ngIf="ResultResponseData.image!=''">
          <img alt="{{ResultResponseData.first_name}}" src="{{ResultResponseData.image}}" />
          <svg *ngIf="ResultResponseData.identify==2" class="verification-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="#2dd36f" viewBox="0 0 20 20">
            <path fill="#2dd36f" d="m18.774 8.245-.892-.893a1.5 1.5 0 0 1-.437-1.052V5.036a2.484 2.484 0 0 0-2.48-2.48H13.7a1.5 1.5 0 0 1-1.052-.438l-.893-.892a2.484 2.484 0 0 0-3.51 0l-.893.892a1.5 1.5 0 0 1-1.052.437H5.036a2.484 2.484 0 0 0-2.48 2.481V6.3a1.5 1.5 0 0 1-.438 1.052l-.892.893a2.484 2.484 0 0 0 0 3.51l.892.893a1.5 1.5 0 0 1 .437 1.052v1.264a2.484 2.484 0 0 0 2.481 2.481H6.3a1.5 1.5 0 0 1 1.052.437l.893.892a2.484 2.484 0 0 0 3.51 0l.893-.892a1.5 1.5 0 0 1 1.052-.437h1.264a2.484 2.484 0 0 0 2.481-2.48V13.7a1.5 1.5 0 0 1 .437-1.052l.892-.893a2.484 2.484 0 0 0 0-3.51Z"/>
            <path fill="#fff" d="M8 13a1 1 0 0 1-.707-.293l-2-2a1 1 0 1 1 1.414-1.414l1.42 1.42 5.318-3.545a1 1 0 0 1 1.11 1.664l-6 4A1 1 0 0 1 8 13Z"/>
          </svg>
        </ion-thumbnail>
      </ion-list-header>
      <ion-item lines="none" class="simpleItem">
        <div class="icon">
        <!-- <ion-icon name="person"></ion-icon> -->
          <svg class="person" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 18">
            <path stroke="var(--secondary)" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M7 8a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm-2 3h4a4 4 0 0 1 4 4v2H1v-2a4 4 0 0 1 4-4Z"/>
          </svg>
        </div>
        <ion-label text-wrap class="ion-text-wrap">{{ResultResponseData.first_name}}&nbsp;{{ResultResponseData.surname}}</ion-label>
      </ion-item>
      <ion-item lines="none" class="simpleItem">
        <div class="icon">
          <!-- <ion-icon name="mail"></ion-icon> -->
          <svg class="mail" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
            <path stroke="var(--secondary)" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="m19 2-8.4 7.05a1 1 0 0 1-1.2 0L1 2m18 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1m18 0v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2"/>
          </svg>
        </div>
        <ion-label text-wrap class="ion-text-wrap to-lowercase">
          <a href="mailto:{{ResultResponseData.email}}" class="callBtn" *ngIf="ResultResponseData.email!=null && ResultResponseData.email!=''">
            {{ResultResponseData.email}}
          </a>
        </ion-label>
      </ion-item>
      <ion-item lines="none" class="simpleItem" *ngIf="ResultResponseData.phone!=null">
        <div class="icon">
          <ion-icon name="call"></ion-icon>
        </div>
        <ion-label>
          <a href="tel:{{ResultResponseData.phone}}" class="callBtn" *ngIf="ResultResponseData.phone!=null && ResultResponseData.phone!=''">
            {{ResultResponseData.phone}}
          </a>
        </ion-label>
      </ion-item>
      <ion-item lines="none" *ngIf="ResultResponseData.date_of_birth!=null && ResultResponseData.date_of_birth!=''">
        <div class="icon">
          <ion-icon name="calendar-number"></ion-icon>
        </div>
        <ion-label text-wrap class="ion-text-wrap">{{ResultResponseData.formated_date_of_birth}}</ion-label>
      </ion-item>
      <ion-item lines="none" *ngIf="ResultResponseData.address!=null && ResultResponseData.address!=''">
        <div class="icon">
          <ion-icon name="business"></ion-icon>
        </div>
        <ion-label text-wrap class="ion-text-wrap">{{ResultResponseData.address}}</ion-label>
      </ion-item>
      <!--<ion-item lines="none">
        <div class="icon">
          <ion-icon name="business"></ion-icon>
        </div>
        <ion-label>{{ResultResponseData.city}}</ion-label>
      </ion-item>
      <ion-item lines="none"> 
        <div class="icon">                       
          <ion-icon name="business"></ion-icon>
        </div>
        <ion-label>{{ResultResponseData.zip}}</ion-label>
      </ion-item>
      <ion-item lines="none">  
        <div class="icon">                      
          <ion-icon name="person"></ion-icon>
        </div>
        <ion-label>{{ResultResponseData.gender}}</ion-label>
      </ion-item>
      <ion-item lines="none" *ngIf="ResultResponseData.formated_date_of_birth!=null && ResultResponseData.formated_date_of_birth!=''">
        <div class="icon">
          <ion-icon name="calendar"></ion-icon>
        </div>
        <ion-label>{{ResultResponseData.formated_date_of_birth}}</ion-label>
      </ion-item>-->
      <ion-item lines="none" *ngIf="ResultResponseData.aboutme!=null && ResultResponseData.aboutme!=''">  
        <div class="icon">                      
          <ion-icon name="reorder-four"></ion-icon>
        </div>
        <ion-label text-wrap class="ion-text-wrap">{{ResultResponseData.aboutme}}</ion-label>
      </ion-item>      
    </ion-list>
  </div>
</ion-content>
